.not-found-card {
  max-width: 600px;
  margin: 40px auto;
  text-align: center;
  border-radius: 12px;
}

.not-found {
  padding: 32px 16px;
}

.not-found mat-icon {
  color: var(--mat-sys-error);
  height: 60px;
  width: 60px;
  font-size: 60px;
  padding: 10px;
}

.not-found h1 {
  margin: 8px 0;
  font-size: 3rem;
  font-weight: 600;
}