:host {
    height: 100%;
}

.custom-card-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;

    h1 {
        font-size: 1.5rem;
    }
}


.table-container {
    max-width: 100%;
    overflow: hidden;
    padding: 0;
}

.table-wrapper {
    max-height: 100%;
    overflow-y: auto;
    border-radius: 8px;
}


mat-card {
    height: calc(100vh - 128px);

    mat-card-header {
        padding: 16px !important;
    }
}

mat-form-field.search-field {
  width: 300px;
  height: 56px; // control total height
  margin-bottom: 1rem;
}

mat-form-field.search-field input {
  padding: 8px 12px;
  font-size: 15px;
}
