.toolbar {
    background-color: var(--mat-sys-primary-container);
    color: var(--mat-sys-secondary);
    font-family: sans-serif;
    font-size: 1.2rem;
    letter-spacing: 2px;
    font-weight: 800;
    display: flex;
    align-items: center;
    min-height: 64px;
    padding: 0px 20px;

    img {
        margin-right: 8px;
    }
}



.main-section {
  padding: 24px;
  background-color: var(--mat-sys-surface);
  color: var(--mat-sys-on-surface);
  min-height: calc(100vh - 128px); // Full screen minus toolbar height + padding top and bottom
  display: flex;
  flex-direction: column;
}